*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: 'Roboto', sans-serif;
}
ul{
list-style: none;
}
a{
    text-decoration: none;
    color: #000;
}

.main--container{
    display: flex;
    width: 75%;
    margin: 20px auto;
    justify-content: space-between;
}
.main--img{
    width: 300px;
    border-radius: 15px;
}